{% extends 'blog/base.html' %}
{%load crispy_forms_tags%}

{% block content %}

<div class="content-section">
    <form method="POST">
        {%csrf_token%}
        <fieldset class="form-group">
            <legend class="mb-4 border-bottom">Reset Password</legend>
            {{form | crispy}} <!-- as_p is for styling, will render the form as paragraph-->
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Send Email</button>
        </div>
    </form>
</div>
{% endblock content %}

 